@import 'size';
@import '../../palette.scss';

.btn {
    @include size(11px, 37px, 10.8px, 31.1px, 14px);

    margin-right: 30px;
    border: none;
    background-color: color(1);
    color: color(2);
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    letter-spacing: .1px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;

    &.medium {
        @include size(14px, 46px, 14px, 46px, 18px);
    }

    &.large {
        @include size(23px, 93px, 23px, 94px, 26px);
    }

    &.x-large {
        @include size(27px, 102px, 27px, 103px, 36px);
    }

    &.round {
        $rounds: (3, 7, 12, 20);

        @each $round in $rounds {
            &-#{$round} { border-radius: $round + px; }
        }
    }

    &.bg-color {
        @each $index, $color in $palette {

            &-#{$index} {
                background-color: $color;
            }
        }
    }

    &:hover {
        background-color: color(5);
    }

    &:last-child {
        margin-right: 0;
    }
}
